body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.weather-container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
}

button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 15px;
  font-size: 16px;
}
